<script type="text/javascript">
    function JSalertEliminar(){
        swal("Eliminando!", "Se eliminara el comprador!", "warning");
    }

    function JSalertGuardar(){
        swal("Guardar!", "Se guardo el comprador!", "success");
    }

    function JSalertActualizar(){
        swal("Actualizado!", "Se actualizo el comprador!", "success");
    }
    </script>
</body>
</html>
